
@{
    ViewData["Title"] = "ListPersons";
}

@section Styles{
    <link href="~/lib/DataTables/DataTables-1.10.20/css/jquery.dataTables.min.css" rel="stylesheet" />
}

@section Scripts{
    <script src="~/lib/DataTables/DataTables-1.10.20/js/jquery.dataTables.min.js"></script>
    <script src="~/js/Person/ListPersons.js"></script>
}

<h2>List Persons</h2>

<table id="tablePersons">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Email</th>
            <th>Date Of Birth</th>
            <th>Phone Number</th>
            <th>City</th>
        </tr>
    </thead>
    <tbody>

    </tbody>
</table>



